<div class="addTask">
  <div class="container">
    <div class="form-group row">
      <div class="col-12">
        <h1 class="titleAPP text-justify">To Do APP</h1>

        <div class="input-group mb-3">
            <input class="inputText" type="text" placeholder="Here write you task" [(ngModel)] = "newTask">
          <div class="input-group-append">
            <button class="btn btn-primary input-lg" (click) = "add()" type="button">Dodaj</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- <h1 class="titleAPP">To Do APP</h1>
  <input placeholder="Here write you task" [(ngModel)] = "newTask">
  <button type="button" class="btn btn-primary" (click) = "add()">Dodaj</button> -->
</div>
